/* Landing Page CSS */

body{
    font-family: 'Poppins', 'sans-serif';
    background: #ececec;

}

.box-area{
    width: 930px;
}
#imageStyle{
    width: 250px;
}
#leftbox{
    background: #295bee;
}

/* .left-box{
    background: #103cbe;
} */

#p-style{
    font-family: 'Courier New', Courier, monospace; 
    font-weight: 600;
}

#small-tag-style{
    width: 17rem;
    font-family: 'Courier New', Courier, monospace;
}
#img-style{
    width: 40px;
}
.right-box{
    padding: 40px 30px 40px 40px
}

::placeholder{
    font-size: 16px;
}

.headerFooter{
    background-color: #40e0d0 !important;
    /* background-image: linear-gradient(#848687b5,#424546b5,#020202); */
  }
  .headerstuff{
    background-color: 	#eeeeee;
  }

@media only screen and (max-width: 768px){
    .box{
        marign: 0 10px;
    }
    .left-box{
        height: 100px;
        overflow: hidden;
    }
    .right-box{
        padding: 20px;
    }
}