#regitertionForm{
    border: 1px solid black;
    padding: 1%;
    padding-top: 0;
}

.bodycolor{
    background-color: #CFE2AB;
    
}
#boderp{
    border-left: 1px solid black;
    height: 400px;
}

/* #innerbody{
    background-color: #9C9C9C;
} */