#regitertionForm{
    border: 1px solid black;
    padding: 1%;
    padding-top: 0;
}

.bodycolor{
    background-color: #CFE2AB;
    
}
#boderp{
    border-left: 1px solid black;
    height: 400px;
}
.headerFooter{
    background-color: #40e0d0 !important;
    /* background-image: linear-gradient(#848687b5,#424546b5,#020202); */
  }
  .headerstuff{
    background-color: #f8f9fa;
  }
#border-color{
    background-color: 	#40e0d0;
}

#innerBorder{
    background-color: white;
}
/* #innerbody{
    background-color: #9C9C9C;
} */